# Pandas

# Data Frame Basics

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("movies.csv")
df.head(5)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

In [12]:
df.shape

(37, 10)

In [14]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [16]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [19]:
df.language.unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [22]:
df.industry.value_counts()

Hollywood    20
Bollywood    17
Name: industry, dtype: int64

In [24]:
df.language.value_counts()

English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: language, dtype: int64

In [30]:
df_new = df[["industry","language","title"]]
df_new.head(4)

    industry language                                        title
0  Bollywood  Bengali                              Pather Panchali
1  Hollywood  English  Doctor Strange in the Multiverse of Madness
2  Hollywood  English                        Thor: The Dark World
3  Hollywood  English                              Thor: Ragnarok